@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

:root {
    --primary-white: #f4f4f4;

    --primary-text: #0f0f0f;
    --secondary-text: #7a7a7a;

    --primary-color: #5a877d;
    --secondary-color: #aabebe;

    --primary-delete: #ef233c;
}

body {
    display: grid;
    place-content: center;

    background-color: var(--primary-white);

    height: 100vh;
}

main {
    height: 90vh;

    position: relative;
}

/* Header */

.header-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-title {
    color: var(--primary-text);
    font-size: 1.5rem;
    font-weight: 500;

    text-align: center;
}

/* Controls */

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: 40px;
}

/* Search */

.search-container {
    display: flex;
    align-items: center;

    border: 1px solid var(--primary-color);
    border-radius: 5px;

    width: 500px;
    height: 100%;
}

.search-container input {
    border: none;

    background-color: var(--primary-white);
    color: var(--primary-color);
    outline: none;

    margin-right: 0.75rem;

    flex: 1;
}

.search-container input::placeholder {
    color: var(--secondary-color);
}

.search-container svg {
    color: var(--primary-color);

    margin: 0 0.75rem;
    stroke-width: 1;
}

/* Filter */

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-color);
    cursor: pointer;

    border: none;
    border-radius: 5px;

    width: 150px;
    height: 100%;
    padding: 0 1rem;

    transition: all 0.3s;
}

.filter-container:hover,
.dark-mode-container:hover {
    transform: scale(1.05);
}

.filter-container span {
    color: var(--primary-white);
    font-weight: 600;
}

.filter-container svg {
    color: var(--primary-white);
}

/* Dark Mode */

.dark-mode-container {
    background-color: var(--primary-color);
    cursor: pointer;

    border: none;
    border-radius: 5px;

    width: 40px;
    height: 100%;

    display: grid;
    place-content: center;

    transition: all 0.3s;
}

.dark-mode-container svg {
    color: var(--primary-white);
}

/* Todo */

.todo-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    list-style-type: none;

    padding: 2rem 6rem;
}

/* Item */

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Item Content */

.item-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-content input {
    appearance: none;
    background-color: var(--primary-white);
    cursor: pointer;

    border: 1px solid var(--primary-color);
    border-radius: 3px;

    width: 24px;
    height: 24px;

    position: relative;
}

.item-content input::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--primary-color);
    opacity: 0;

    width: 18px;
    height: 18px;

    border-radius: 3px;

    transition: all 0.3s;
}

.item-content input:checked::before {
    transform: translate(-50%, -50%);

    opacity: 1;
}

.item-content span {
    color: var(--primary-text);
    font-weight: 500;

    transition: all 0.3s;
}

.item-content input:checked + span {
    color: var(--secondary-text);
    text-decoration: line-through;
}

/* Item Edit / Item Delete */

.item-actions {
    display: flex;
    gap: 0.5rem;

    cursor: pointer;
}

.item-actions svg {
    color: var(--secondary-text);

    width: 20px;
    height: 20px;
    stroke-width: 1;

    transition: all 0.3s;
}

.item-actions svg:hover {
    transform: scale(1.05);
}

.item-actions svg:first-child:hover {
    color: var(--primary-color);
}

.item-actions svg:last-child:hover {
    color: var(--primary-delete);
}

/* Add Button */

.add-button {
    width: 50px;
    height: 50px;

    background-color: var(--primary-color);
    cursor: pointer;

    border: none;
    border-radius: 50%;

    display: grid;
    place-content: center;

    position: absolute;
    bottom: 0;
    right: 0;

    transition: all 0.3s;
}

.add-button:hover {
    transform: scale(1.05);
}

.add-button svg {
    color: var(--primary-white);

    width: 34px;
    height: 34px;
}

/* Popup */

.popup-wrapper {
    position: fixed;
    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: rgba(35, 35, 35, 0.75);
    opacity: 0;
    pointer-events: none;

    transition: all 0.3s;
}

.popup-wrapper.visible {
    opacity: 1;
    pointer-events: auto;
}

.popup-container {
    width: 500px;
    padding: 1rem 2rem;

    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%) translateY(-150%);
    z-index: 1;

    background-color: var(--primary-white);
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: 10rem;

    border-radius: 1rem;

    transition: all 0.3s;
}

.popup-container.visible {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
}

/* Popup Content */

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup-title {
    color: var(--primary-text);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.popup-content input {
    border: 1px solid var(--primary-color);
    border-radius: 5px;

    color: var(--primary-color);

    outline: none;

    height: 40px;
    padding: 0 0.75rem;
}

.popup-content input::placeholder {
    color: var(--secondary-color);
}

/* Popup Actions */

.popup-actions {
    display: flex;
    justify-content: space-between;
}

.popup-actions button {
    padding: 0.5rem 1.5rem;

    border-radius: 5px;

    cursor: pointer;
    font-weight: 600;

    transition: all 0.3s;
}

.popup-actions button:hover {
    transform: scale(1.05);
}

.cancel-button {
    background-color: var(--primary-white);
    color: var(--primary-color);

    border: 1px solid var(--primary-color);
}

.cancel-button:hover {
    border: 1px solid var(--primary-delete);

    color: var(--primary-delete);
}

.apply-button {
    background-color: var(--primary-color);
    color: var(--primary-white);

    border: none;
}
