@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

:root {
    --primary-white: #f4f4f4;

    --primary-text: #0f0f0f;
    --secondary-text: #7a7a7a;

    --primary-color: #5a877d;
    --secondary-color: #aabebe;

    --primary-delete: #ef233c;
}

body {
    display: grid;
    place-content: center;

    background-color: var(--primary-white);

    height: 100vh;
}

main {
    height: 90vh;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header-title {
    color: var(--primary-text);
    font-size: 1.5rem;
    font-weight: 500;

    text-align: center;
}

/* Controls */

.controls-container {
    display: flex;
    gap: 1rem;

    height: 40px;
}

/* Search */

.search-container {
    display: flex;
    align-items: center;

    border: 1px solid var(--primary-color);
    border-radius: 5px;

    width: 500px;
}

.search-container svg {
    color: var(--primary-color);

    margin: 0 0.75rem;
}

.search-input {
    border: none;

    background-color: var(--primary-white);
    color: var(--primary-color);
    outline: none;

    margin-right: 0.75rem;

    flex: 1;
}

.search-input::placeholder {
    color: var(--secondary-color);
}

/* Filter */

.filter-button {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--primary-color);
    cursor: pointer;

    border: none;
    border-radius: 5px;

    width: 175px;
    padding: 0 1rem;

    transition: all 0.3s;
}

.filter-button:hover {
    transform: scale(1.05);
}

.filter-button.open:hover {
    transform: none;
}

.filter-button span {
    color: var(--primary-white);
    font-weight: 600;
}

.filter-button svg {
    color: var(--primary-white);
}

.filter-up-arrow {
    display: none;
}

.filter-container.open .filter-down-arrow {
    display: none;
}

.filter-container.open .filter-up-arrow {
    display: block;
}

/* Filter Dropdown */

.filter-dropdown {
    display: none;

    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;

    background-color: var(--primary-white);

    width: 100%;
    margin-top: 0.5rem;

    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.filter-dropdown.open {
    display: block;
}

.dropdown-options {
    color: var(--primary-color);
    font-size: 0.9rem;
    text-align: left;

    padding: 0.5rem;

    transition: all 0.3s;
}

.dropdown-options:hover {
    background-color: rgba(170, 190, 190, 0.5);
}

.dropdown-options.active {
    background-color: var(--secondary-color);
}

/* Add Button */

.add-button {
    width: 200px;
    height: 40px;

    background-color: var(--primary-color);
    cursor: pointer;

    border: none;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    transition: all 0.3s;
}

.add-button:hover {
    transform: scale(1.05);
}

.add-button span {
    color: var(--primary-white);
    font-weight: 600;
}

.add-button svg {
    color: var(--primary-white);
}

/* Todos */

.todos-container {
    display: flex;
    flex-direction: column;

    list-style-type: none;

    padding: 2rem 4rem;
}

/* Item */

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item:not(:last-child) {
    border-bottom: 1px solid var(--primary-color);

    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.todo-item:hover .item-actions svg {
    opacity: 1;
}

/* Item Content */

.item-content {
    display: flex;
    gap: 1rem;
}

.item-checkbox {
    appearance: none;
    background-color: var(--primary-white);
    cursor: pointer;

    border: 1px solid var(--primary-color);
    border-radius: 5px;

    width: 24px;
    height: 24px;

    position: relative;
}

.item-checkbox::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--primary-color);
    opacity: 0;

    width: 18px;
    height: 18px;

    border-radius: 5px;

    transition: all 0.3s;
}

.item-checkbox:checked::before {
    opacity: 1;
}

.item-content span {
    color: var(--primary-text);
    font-weight: 500;

    transition: all 0.3s;
}

.item-checkbox:checked + span {
    color: var(--secondary-text);
    text-decoration: line-through;
}

.edit-input {
    background-color: var(--primary-white);
    color: var(--primary-text);
    font-weight: 500;
    outline: none;

    border: none;
}

.item-content span,
.edit-input {
    width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Item Actions */

.item-actions {
    display: flex;
    gap: 0.5rem;
}

.item-actions svg {
    color: var(--secondary-text);
    cursor: pointer;
    opacity: 0;

    width: 18px;
    height: 18px;

    transition: all 0.3s;
}

.item-actions svg:hover {
    transform: scale(1.05);
}

.edit-button:hover {
    color: var(--primary-color);
}

.delete-button:hover {
    color: var(--primary-delete);
}

/* Popup Background */

.popup-background {
    position: fixed;
    z-index: 2;

    width: 100%;
    height: 100%;

    background-color: rgba(35, 35, 35, 0.75);
    opacity: 0;
    pointer-events: none;

    transition: all 0.3s;
}

.popup-background.open {
    opacity: 1;
    pointer-events: auto;
}

/* Popup */

.popup-container {
    width: 500px;
    padding: 1rem 2rem;

    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%) translateY(-150%);
    z-index: 3;

    background-color: var(--primary-white);
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: 10rem;

    border-radius: 1rem;

    transition: all 0.3s;
}

.popup-container.open {
    transform: translate(-50%, -25%) translateY(0);

    opacity: 1;
}

/* Popup Content */

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup-title {
    color: var(--primary-text);
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.popup-input {
    border: 1px solid var(--primary-color);
    border-radius: 5px;

    background-color: var(--primary-white);
    color: var(--primary-color);
    outline: none;

    height: 40px;
    padding: 0 0.75rem;
}

.popup-input::placeholder {
    color: var(--secondary-color);
}

/* Popup Actions */

.popup-actions {
    display: flex;
    justify-content: space-between;
}

.popup-actions button {
    padding: 0.5rem 1.5rem;

    border-radius: 5px;

    cursor: pointer;
    font-weight: 600;

    transition: all 0.3s;
}

.popup-actions button:hover {
    transform: scale(1.05);
}

.cancel-button {
    background-color: var(--primary-white);
    color: var(--primary-color);

    border: 1px solid var(--primary-color);
}

.cancel-button:hover {
    background-color: var(--primary-color);
    color: var(--primary-white);

    border: 1px solid transparent;
}

.apply-button {
    background-color: var(--primary-color);
    color: var(--primary-white);

    border: 1px solid transparent;
}
